<div id="header">
  <button class="btn-warning">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="btn-warning">@Html.ActionLink("See all Items", "Index", "Items")</button>
  <button class="btn-warning">@Html.ActionLink("See all Stores", "Index", "Stores")</button>
</div>