@{
  Layout = "_Layout";
}

@model Shoplister.Models.Store

<h2>Add a New Store</h2>
<hr>
@using (Html.BeginForm())
{
  <div class="container-form">
    @Html.LabelFor(model => model.StoreName):
    @Html.TextBoxFor(model => model.StoreName, new { required = "required"})
  </div>
  <br>
  <input style="color: blue; font-size: 1.2em;" type="submit" value="Add New Store" class="btn btn-success" />
}