@{
  Layout = "_Layout";
}

@model Shoplister.Models.Store


<h2>Edit This Store</h2>
<hr />
@using (Html.BeginForm())
{
  <div class="container-form">
    @Html.HiddenFor(model => model.StoreId)
    @Html.LabelFor(model => model.StoreName):
    @Html.EditorFor(model => model.StoreName, new {require = "required"})
  </div>
  <br>
  <br>

  <input style="color: blue; font-size: 1.2em;" type="submit" class="btn btn-success" value="Save" />
}

