@{
  Layout = "_Layout";
}

@using Shoplister.Models;
@model List<Shoplister.Models.Store>;

<h2>Stores</h2>
<hr>

@if (@Model.Count == 0)
{
  <h3>You haven't added any stores yet!</h3>
}

@foreach (Store store in Model)
{
  <li>@Html.ActionLink($"{store.StoreName}", "Details", new { id = store.StoreId }, new { @style="font-size: 1.35em;" })</li>
}
<br>
<button style="font-size: 1.2em;" class="btn btn-success">@Html.ActionLink("Add New Store", "Create")</button>