@{
  Layout = "_Layout";
}

@model Shoplister.Models.Item

<h2>Add a New Item</h2>
<hr>

@using (Html.BeginForm())
{
  <div class="container-form">
    @Html.LabelFor(model => model.ItemName):
    @Html.TextBoxFor(model => model.ItemName, new { required = "required"})
    @Html.LabelFor(model => model.Notes):
    @Html.TextBoxFor(model => model.Notes)
    <br>
    <br>
  </div>
  <input type="submit" value="Add New Item" class="btn btn-success" style="color: blue" />
}