@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>Shoplister:</h1>
  <div class="subtitle">
    <h4>Not Your Mother's Shopping List!</h4>
  </div>
</div>
<h5> Please use header to sign in/create an account, view your items, or view your stores!</h5>
