@{
  Layout = "_Layout";
}

<h1>Shoplister: A better shopping app</h1>
<p>@Html.ActionLink("See All Items", "Index", "Items")</p>
<p>@Html.ActionLink("See All Stores", "Index", "Stores")</p>
<p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
