@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h3>Hello @User.Identity.Name!</h3>
  <h6>You have successfully logged in. Please use the header to view your list, or you can click the button below to log out.</h6>
  <br>
  <br>

  @using (Html.BeginForm("LogOff", "Account"))
  {
    <div class="button-div">
      <input style="color: blue" type="submit" class ="btn btn-success" value="Log Out" />
    </div>

  }
}
else
{
  <div class="button-div">
    <button class="btn-success">@Html.ActionLink("Register", "Register")</button>
    <br>
    <br>
    <button class="btn-success">@Html.ActionLink("Log In", "Login")</button>
  </div>
  <br>
  <br>
  <h5>Please log in or register for an account.</h5>
}