@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h3>Hello @User.Identity.Name!</h3>
  <h6>You have successfully logged in. Please use the header to view your list, or you can click the button below to log out.</h6>
  <br>
  <br>

  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input style="color: blue; font-size: 1.2em;" type="submit" class ="btn btn-success" value="Log Out" />
  }
}
else
{
    <button style="font-size: 1.2em;" class="btn btn-success">@Html.ActionLink("Register", "Register")</button>
    <br>
    <br>
    <button style="font-size: 1.2em;" class="btn btn-success">@Html.ActionLink("Log In", "Login")</button>
  <br>
  <br>
  <h5>Please log in or register for an account.</h5>
}